body {
  background-color: #11105e;
  font-family: Georgia, serif;
  margin: 0;
  padding: 0;
  color: #3a2f2f;
}

/* HEADER */
header {
  background-color: #11105e;
  color: white;
  padding: 40px;
  text-align: center;
  letter-spacing: 2px;
}

header span {
  font-style: italic;
}

/* NAV */
nav {
  background-color: #0026ff;
  padding: 10px;
  text-align: center;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
  font-weight: bold;
}

/* Pseudo-classe */
nav a:hover {
  color: #2751ac;
  text-decoration: underline;
}

/* MAIN */
main {
  width: 90%;
  margin: auto;
  padding: 20px;
}

/* SECTIONS */
section {
  margin-bottom: 60px;
  animation: aparecer 1s ease;
}

section h2 {
  border-bottom: 2px solid #11105e;
  padding-bottom: 10px;
  word-spacing: 4px;
}

/* INSTRUMENTOS */
.Arsenal{
  overflow: hidden;
}

article {
  background-color: white;
  width: 30%;
  height: 320px;
  float: left;
  margin: 1.5%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* Pseudo-elemento */
article::before {
  color: #000000;
  font-weight:bold;
}

/* Inline + Block */
article a {
  display: inline-block;
  margin-top: 10px;
  color: #4c3fff;
  font-weight: bold;
}

article a:hover {
  color: #3a2f2f;
}

/* ASIDE */
aside {
  background-color: #e0d8cf;
  padding: 20px;
  border-left: 5px solid #11105e
}

/* FOOTER */
footer {
  background-color: #000000;
  color: white;
  text-align: center;
  padding: 20px;
}

/* ANIMAÇÃO */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} 
body
 {
 margin: 0; font-family: Arial, sans-serif; background: #fafafa; color: #333;   
}
 
header h1 
{ 
  margin: 0; 
  font-size: 28px; 
} 
  .container {
 max-width: 1000px; 
 margin: auto; 
 padding: 40px 20px; 
 display: flex; 
 flex-wrap: wrap; 
 gap: 40px; 
 align-items: flex-start; 
} 
 .imagem img {
 width: 350px; 
 border-radius: 10px; 
 }
 .texto 
 { 
flex: 1; 
font-size: 17px;
line-height: 1.6; 
 } 
 .preco 
 { 
font-size: 28px; 
font-weight: bold; 
display: block;
margin-top: 20px; 
 color: #00e431bd;
 }
 .btn 
 { 
display: inline-block;
margin-top: 15px; 
background: #0b64ff;
padding: 12px 20px; 
color: white; 
text-decoration: none;
border-radius: 5px; 
font-weight: bold;
} 
.btn:hover 
{ 
background: #0846b3;
}
.video{
  margin-top:30px;
  text-align: center;
  padding: 15px;
}

